<html>
<head>
    <title>Register</title>
</head>
<body>

    <form action="/register" method="post" autocomplete="off">
        <input style="width: 100%" name="f_name" type="text" alt="First Name" placeholder="First Name (can be a shortened form of it)"/>
        <br />
        <input style="width: 100%" name="l_name"type="text" alt="Last Name" placeholder="Last Name"/>
        <br />
        <input style="width: 100%" name="email" type="text" alt="Email" placeholder="Email"/>
        <br />
        
        <button type="submit">Register</button>
    </form>
</body>
</html>